body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.upload-area {
  padding: 2rem 0;
}

.image-area {
  height: 60vh;
}

img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.editor-area {
  word-break: break-all;
}

  .dqtTable td {
    padding: 1em;
  }