body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.upload-area {
  padding: 2rem 0;
}

.image-area {
  height: 60vh;
}

img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.editor-area {
  word-break: break-all;
}

  .dqt-editor {
    max-width: 50rem;
    margin-bottom: 2rem;
  }

    .dqt-cell {
      float: left;
      width: 12.5%;
    }

  .dqt-editor:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }