<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>jpglitch</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div id="app">
      <div v-jpgdrop="loadFile" class="dropzone" v-show="!fileLoaded">
        <p>Släpp en JPG här</p>
        <p>eller</p>
        <input type="file" id="fileInput" name="file" v-on="change: handleFileSelect" />
      </div>
      <div class="image-area" v-jpgdrop="loadFile">
        <img id="image" src="{{rawImage | base64Jpeg}}" />
        <button v-on="click: fileLoaded=false" class="back-button">Tillbaka</button>
      </div>
      <div class="edit-area">
        <div v-repeat="dqt: dqts" class="dqt-area">
          <dqt dqt="{{@ dqt}}" inline-template>
            <div class="dqt-editor">
              <span class="dqt-cell" v-repeat="dqtByte: dqt.data"><input class="dqt-input" v-on="keyup: byteChanged($index, dqtByte)" v-model="dqtByte" type="number" number /></span>
            </div>
            <input type="range" min="0" max="255" value="0" class="dqt-boost" v-model="boost" v-on="change: boostChanged(boost)" number />
          </dqt>
        </div>
      </div>
    </div>
</body>
</html>
